<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Шкарлат Дмитрий</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap-theme-superhero.min.css">
	<script src="assets/js/jquery.min.js"></script>
</head>
<body>
	<!-- Modal -->
	<div class="modal text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="my-profile text-center">
						<div class="account">
							<h3 class='text-capitalize'>shkarlat dmitry</h3>
							<p>
								<span class='text-warning'>junior</span>
								frontend developer
							</p>
							<figure>
								<img src="assets/img/logo.png" alt="user" class="img-circle">
								<figcaption>
									<!-- social media ico -->
									<a href="http://vk.com/id5279370" target='_blank' class="fa fa-vk fa-fw"></a>
									<a href="https://github.com/Dmitiy" target='_blank' class="fa fa-github fa-fw"></a>
									<a href="#" target='_blank' class="fa fa-linkedin fa-fw"></a>
									<a href="https://www.instagram.com/dmitrysev/" target='_blank' class="fa fa-instagram fa-fw"></a>
								</figcaption>
							</figure>
						</div>
						<div class=''>
							<a href='#' class='btn btn-primary' role='button' data-dismiss="modal">
								<i class="fa fa-hand-o-right fa-fw"></i>
								my profile
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- start app -->
	<div class="container">
		<div class="row">
			<header class="col-xs-12 col-sm-12 col-md-12 text-center">
				<h1 class='text-capitalize'>shkarlat dmitry</h1>
			</header>

			<!-- left side -->
			<div class="col-xs-12 col-sm-12 col-md-7">
				<div class="row">
					<!-- status: -->
					<div class="col-xs-12 col-sm-12">
						<p class='lead'>
							<i class='fa fa-thumb-tack fw-lg'></i>
							<span>Available for :</span>
							<span class='label label-success'>full-time or freelance work</span>
						</p>
						<!-- contact to me: -->
						<div class="col-xs-12 col-sm-6">
							<ul class='fa-ul'>
								<li>
									<i class="fa-li fa fa-vk fa-fw"></i>
									<a href="http://vk.com/id5279370" target="_blank">
										<strong>social website page</strong>
									</a>
								</li>
								<li>
									<i class="fa-li fa fa-phone fa-fw"></i>
									<span>+7 (978) 218 81 69</span>
								</li>
								<li>
									<i class="fa-li fa fa-envelope-o fa-fw"></i>
									<a href="mailto:shkarlat.dmitry@yandex.ru">shkarlat.dmitry@yandex.ru</a>
								</li>
								<li>
									<i class="fa-li fa fa-skype fa-fw"></i>
									<span>dreamcast29</span>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6">
							<ul class='fa-ul'>
								<li>
									<i class="fa-li fa fa-flag fa-fw"></i>
									<strong>Russia</strong>
								</li>
								<li>
									<i class="fa-li fa fa-anchor fa-fw"></i>
									<strong>Sevastopol</strong>
								</li>
								<li>
									<i class="fa-li fa fa-home fa-fw"></i>
									<span>app.1, build 61, Bagria str.</span>
								</li>
							</ul>
						</div>
						
					</div>
				</div>
				<!-- personal skills-->
				<h2>
					<i class='fa fa-code fa-fw'></i>
					qualities of the developer
				</h2>
				<hr>
				<div class="media person">
					<div class="pull-left">
						<a href="#">
							<img class="img-thumbnail img-responsive logo" src="assets/img/iam.jpg" title='I am what I am' alt="I love frontend">
						</a>
					</div>
					<div class="media-body">
						<div class="col-xs-12 col-sm-7">
							<h4 class="text-info">
								<i class='fa fa-bar-chart fa-fw'></i>
								professional
							</h4>
							<ul class='fa-ul'>
								<li>
									<i class='fa fa-html5 fa-fw'></i>
									<span class='label label-info'>html</span>
								</li>
								<li>
									<i class='fa fa-css3 fa-fw'></i>
									<span class='label label-info'>css</span>
								</li>
								<li>
									<i class='fa fa-dollar fa-fw'></i>
									<span class='label label-info'>javascript</span>
								</li>
								<li>
									<i class='fa fa-mobile fa-fw'></i>
									<span class='label label-info'>responsive web design</span>
								</li>
								<li>
									<i class='fa fa-paint-brush fa-fw'></i>
									<span class='label label-info'>photoshop cs6</span>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-5">
							<h4 class="text-info">
								<i class='fa fa-thumbs-o-up fa-fw'></i>
								personal
							</h4>
							<ul class='fa-ul'>
								<li>Dependable</li>
								<li>Initiative</li>
								<li>Creative</li>
								<li>Enthusiastic</li>
								<li>Determined</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- stuff -->
				<div class="row">
					<!-- education -->
					<div class="col-xs-12 col-sm-6">
						<h2>
							<i class='fa fa-balance-scale fa-fw'></i>
							education
						</h2>
						<hr>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class='fa fa-university fa-fw'></i>
									<abbr title="Sevastopol National Technical University" class="initialism">SevNTU</abbr>
									<span class="badge pull-right">2003-2008</span>
								</h3>
							</div>
							<div class="panel-body">
								<i class='fa fa-graduation-cap fa-fw'></i>
								Systems engineer
							</div>
						</div>
						
					</div>
					<!-- experience -->
					<div class="col-xs-12 col-sm-6">
						<h2>
							<i class='fa fa-suitcase fa-fw'></i>
							experience
						</h2>
						<hr>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class='fa fa-briefcase fa-fw'></i>
									SoftServe
									<span class="badge pull-right">2013</span>
								</h3>
							</div>
							<div class="panel-body">
								<dl class="">
									<dt class='text-info'>
										<i class='fa fa-certificate fa-fw'></i>
										Certificate.
									</dt>
									<dd>Development of well-thought Internet solutions using PHP and JavaScript.</dd>
								</dl>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class='fa fa-briefcase fa-fw'></i>
									Constant Solutions Plus
									<span class="badge pull-right"> oct. 2017 - apr. 2018</span>
								</h3>
							</div>
							<div class="panel-body">
								<dl class="">
									<dt class='text-info'>
										<i class='fa fa-certificate fa-fw'></i>
										junior frontend developer
									</dt>
								</dl>
							</div>
						</div>
					</div>
				</div>
				<!-- notice -->
				<div class="col-xs-12">
					<h2>
						<i class='fa fa-usb fa-fw'></i>
						why we should work together
					</h2>
					<hr>
					<ul>
						<li>
							<p>Good understanding of the principles of user interface (ui)</p>
						</li>
						<li>
							<p>Good technical skills enable me to use my knowledge in ui design</p>
						</li>
						<li>
							<p>Ability to conceptualize and think visually</p>
						</li>
						<li>
							<p>Ability to work in a team or alone</p>
						</li>
					</ul>
				</div>
			</div>

			<!-- right side -->
			<div class="hidden-xs hidden-sm col-xs-6 col-sm-12 col-md-5">
				<!-- frontend -->
				<div class="row">
					<div class="col-xs-6">
						<h2 data-toggle="tooltip" data-placement="left" title="love is ...">
							<i class='fa fa-book fa-fw'></i>
							frontend
						</h2>
						<hr>
						<ul class='fa-ul'>
							<li>
								<i class='fa fa-html5 fa-fw'></i>
								<span>html: [ jade ]</span>
							</li>
							<li>	
								<i class='fa fa-css3 fa-fw'></i>
								<span>css: [ less, sass, styl ]</span>
							</li>
							<li>
								<span>javascript</span>
							</li>
							<li>
								<span> 
									<i class='fa fa-github fa-fw'></i>
									<i class='fa fa-git fa-fw'></i>
								</span>
							</li>
							<li>
								<i class='fa fa-refresh fa-fw fa-spin'></i>
								<span>client - server | ajax</span>
							</li>
							<li>
								<i class='fa fa-sitemap fa-fw'></i>
								<span>oop | agile | scrum</span>
							</li>
							<li>
								<i class='fa fa-tasks fa-fw'></i>
								<span>build tools:</span>
								<ul>
									<li><span>bower</span></li>
									<li><span>gulp</span></li>
									<li><span>grunt</span></li>
								</ul>
							</li>
							<li>
								<i class='fa fa-diamond fa-fw'></i>
								<span>css frameworks:</span>
								<ul class="fa-ul">
									<li>
										<span>twitter bootstrap</span>
									</li>
								</ul>
							</li>
							<li>
								<i class='fa fa-folder-open fa-fw'></i>
								<span>js library's:</span>
								<ul class='fa-ul'>
									<li>
										<i class='fa fa-dollar fa-fw'></i>
										<span>jquery</span>
									</li>
									<li>
										<i class='fa fa-folder-open-o fa-fw'></i>
										<span>underscore</span>
									</li>
								</ul>
							</li>
							<li>
								<i class='fa fa-cubes fa-fw'></i>
								<span>mv* frameworks:</span>
								<ul class='fa-ul'>
									<li>
										<i class='fa fa-cube fa-fw'></i>
										<span>backbone</span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- more -->
					<div class="col-xs-6">
						<!-- lang -->
						<h2>
							<i class='fa fa-language fa-fw'></i>
							languages
						</h2>
						<hr>
						<ul>
							<li><span>English</span></li>
							<li><span>Russian</span></li>
							<li><span>Ukrainian</span></li>
						</ul>
						<!-- other -->
						<h2>
							<i class='fa fa-cogs fa-fw'></i>
							other
						</h2>
						<hr>
						<ul class="fa-ul">
							<li><span>markdown</span></li>
							<li><span>pixelperfect</span></li>
							<li><span>photoshop cs6</span></li>
							<li>
								<i class='fa fa-windows fa-fw'></i>
								<span>ms office</span>
							</li>
							<li>
								<i class='fa fa-dropbox fa-fw'></i>
								<span>dropbox</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- portfolio -->
			<div class="col-xs-12">
				<h2>
					<i class='fa fa-trophy fa-fw'></i>
					examples
				</h2>
				<hr>
					<p>please visit: <a href="https://www.weblancer.net/users/bvb09/" target='_blank'>weblancer.net</a></p>
				<hr>
			</div>
		</div>
		<footer>
			<a href="#" class="btn btn-block btn-default" data-spy="affix-bottom" role='button'>
				<i class='fa fa-arrow-up fa-fw'></i>
				back to top
			</a>
		</footer>
		
	</div>

	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/myJs.js"></script>

</body>
</html>
